<%- include('partials/header-logined'); -%> 
<div class="d-flex flex-column p-3 text-white bg-dark profile-sidebar" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-3">My Pokedex</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/" class="nav-link text-white" aria-current="page">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a href="/pokemon/1" class="nav-link text-white">
          All Pokemon
        </a>
      </li>
      <li class="nav-item">
        <a href="/team" class="nav-link text-white active">
          Pokemon Team
        </a>
      </li>
      <li class="nav-item">
        <a href="/list" class="nav-link text-white">
          To Do List
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="/images/user.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong><%= user.username %></strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="/logout">Sign out</a></li>
      </ul>
    </div>
  </div>
  <div class="container main">
    <div class="row">   
        <% for(var i=0; i <results.length; i++) { %> 
          
            <div class="col-md-3">
                <div class="p-1 mb-4">
                  <div class="rounded-3 shadow card">
                    <img src="<%= results[i].imageUrl %> " class="card-img-top">
                    <div class="card-body">
                      <h4 class="card-title"><%= results[i].name %></h4>
                        <% if(user) {%> 
                            <div class="d-flex justify-content-evenly">
                                <a type="button" href="/pokemon/detail/<%= results[i].id %> " class="btn btn-primary">
                                    View detail
                                </a>
                                <form action="/pokemon/delete" method="post">
                                    <button name="btnDelete" value="<%= results[i].id %>" class="btn btn-danger">X</button>
                                </form>
                            </div>
                        <% } %> 
                    </div>
                  </div>
                </div>
            </div>
        <% }; %>
    </div>
   </div>
<%- include('partials/footer'); -%> 